.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-card {
  width: 25%;
  min-width: 225px;
  padding: 14px;

  display: flex;
  flex-direction: column;
}

.weather-card > div {
  margin: 8px 0;
  font-weight: bold;
}

.weather-card-header {
  display: flex;
  align-items: center;
}

.weather-card-header img {
  transform: scale(0.5);
}
